body {
    background-color: rgb(214, 214, 231);
    font-family: arial;
    color: white;
    padding: 15px;
}

#ageCalculator {

    text-shadow: 3px 3px #73AD21;
    font-size: 48px;
}

.column {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-image: linear-gradient(180deg, rgb(0, 0, 234), rgb(0, 255, 234));
}

.right {
    right: 0;
}


#form-area {
    margin-top: 20dvh;
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px;
    background-color: #014490;
    border-radius: 25px;
    border: 3px solid #73AD21;
    padding: 20px;
    box-shadow: 10px 10px 5px #01231a;
}

#earth {
    margin-top: 30px;
    height: 30dvh;

}

img {
    padding-top: 2em;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.input-group.mb-3 {
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
}


.btn.btn-primary {
    background-color: rgb(57, 141, 173);
    font-weight: bold;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}