body {
    background-image: url(/src/images/stars.jpg);
    background-size: cover;
    height: 100dvh;
    background-repeat: no-repeat;
    font-family: arial;
    color: white;
    padding: 15px;
}

#ageCalculator {
    text-shadow: 3px 3px #031112;
    font-size: 48px;
}

#results {
    text-shadow: 3px 3px #483990;
    font-size: 48px;
}

.column {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-image: linear-gradient(90deg, #031112, #042742, rgb(0, 255, 234), #042742, #031112);
}

.right {
    right: 0;
}



#form-area {
    margin-top: 20dvh;
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px;
    background-color: #014490;
    border-radius: 25px;
    border: 3px solid #73AD21;
    padding: 20px;
    padding-top: 10dvh;
    padding-bottom: 10dvh;
    box-shadow: 10px 10px 5px #01231a;
}

#results-area {
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px;
    border-radius: 25px;
    padding: 20px;
}


img {
    padding-top: 1em;
    align-items: center;
}


.input-group.mb-3 {
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
}


.btn.btn-primary {
    background-color: rgb(57, 141, 173);
    font-weight: bold;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/* .hidden {
    display: none;
} */

.carousel.slide {
    padding: 20%;
}


.carousel-caption {
    margin: 10px;
    background-color: #01231a;
}

.mercury {
    background-color: #ebb84f80;
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.venus {
    background-color: #c15c1f80;
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.earth {
    background-color: #05347bAA;
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.mars {
    background-color: #9e390980;
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.jupiter {
    background-color: #552109AA;
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}